LANG="{{ locale_lang }}"
LC_ALL="{{ locale_all }}"
LANGUAGE="{{ locale_language }}"
LC_NUMERIC="{{ locale_numeric }}"
LC_TIME="{{ locale_time }}"
LC_MONETARY="{{ locale_monetary }}"
LC_PAPER="{{ locale_paper }}"
LC_IDENTIFICATION="{{ locale_identification }}"
LC_NAME="{{ locale_name }}"
LC_ADDRESS="{{ locale_address }}"
LC_TELEPHONE="{{ locale_telephone }}"
LC_MEASUREMENT="{{ locale_measurement }}"
